@use "../abstracts" as *;

.#{$prefix} {
  &site-header {
    z-index: 1000;
    position: relative;
    color: $site-header-color;
    background-color: $site-header-background-color;
    padding: $site-header-padding;

    &__inner {
      display: flex;
      gap: $size-4;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation-small-screens;

      img {
        width: $size-15;
        object-fit: contain;
      }

      @include mq(medium) {
        justify-content: $site-header-jusitifcation-large-screens;
      }
    }
  }

  @media (max-width: 768px) {
    &site-header {
      padding: $site-header-padding-mobile;
    }
  }
}